<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Registration code:</strong>
    <%= book.registration_code %>
  </p>

  <p>
    <strong>Publication year:</strong>
    <%= book.publication_year %>
  </p>

  <p>
    <strong>Is available:</strong>
    <%= book.is_available %>
  </p>

</div>
